[General]
#sandbox  = /home/msestak/sandboxes
#opt      = /home/msestak/opt/mysql
#url      = http://downloads.mysql.com/archives/get/file/mysql-5.6.29-linux-glibc2.5-x86_64.tar.gz
#url      = https://www.percona.com/downloads/Percona-Server-5.6/Percona-Server-5.6.29-76.2/binary/tarball/Percona-Server-5.6.29-rel76.2-Linux.x86_64.ssl101.tar.gz
#out      = /msestak/gitdir/MySQLinstall
#infile   = mysql-5.6.29-linux-glibc2.5-x86_64.tar.gz
#infile   = Percona-Server-5.6.29-rel76.2-Linux.x86_64.ssl101.tar.gz
#sandedit = /home/msestak/sandboxes/msb_5_6_29
#optedit  = /home/msestak/opt/mysql/5.6.29
#plugin   = /home/msestak/scaledb-15.10.1-13199-ude.tgz

[Database]
host     = localhost
database = test
user     = msandbox
password = msandbox
#port     = 5629
#socket   = /tmp/mysql_sandbox5629.sock
innodb   = 128M
tokudb   = 128M
deep     = 128M
#prefix   = tokudb_
#prefix   = deep_
#prefix   = mariadb_

